node_modules
lib
.idea
.DS_Store
*.log
dump.rdb

test-blockchain/geth
test-blockchain/history
test-blockchain/data/**
!test-blockchain/data/.gitkeep
*.env
manual/.env
bundle.js
dist

*.tgz
config.json
!.changeset/config.json
.nuxt
docs
